body{
  font-family: Arial, sans-serif;
  margin:20px;
}

.container{
  display:flex;
  gap:40px;
  align-items:flex-start;
}

.left-panel{
  width:280px;
  flex-shrink:0;

  position:sticky;
  top:20px;

  align-self:flex-start;
}

.right-panel{
  flex:1;
  overflow-x:auto;
}

table{
  border-collapse:collapse;
  width:100%;
}

th, td{
  border:1px solid #ddd;
  text-align:center;

  padding:10px;
}

th{
  background:#f4f4f4;
}

.available{
  background:#fff;
  cursor:pointer;
}

.available:hover{
  background:#d9f7be;
}

.selected{
  background:#52c41a;
  color:white;
}

.occupied{
  background:#d9d9d9;
  cursor:not-allowed;
}

.summary{
  margin-top:30px;
  padding:20px;
  border:1px solid #ddd;
  border-radius:10px;
}

button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:#1677ff;
  color:white;
  border-radius:8px;
  cursor:pointer;
}


.calendar{
  border:1px solid #ddd;
  border-radius:15px;
  padding:20px;
  background:white;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.08);
}

.calendar-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.calendar-header button{
  margin-top:0;
  padding:5px;

  background:transparent;
  color:#999;

  border:none;
  border-radius:0;

  font-size:20px;
  cursor:pointer;
}

.calendar-header button:hover{
  color:#333;
}

#monthYear{
  font-size:18px;
  margin:0;
}

.weekdays{
  font-size:13px;
  display:grid;
  grid-template-columns:repeat(7,1fr);
  text-align:center;
  font-weight:bold;
  margin-bottom:10px;
}

#calendarDays{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:5px;
}

.day{
  height:36px;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:14px;

  border-radius:8px;

  cursor:pointer;

  border:1px solid #ddd;
}

.day:hover{
  background:#d9f7be;
}

.selected-day{
  background:#52c41a;
  color:white;
  font-weight:bold;
}

.today{
  border:2px solid #52c41a;
}
